.source.yaml,
.front-matter.yaml {
  .string {
    color: @base0D;
  }

  .punctuation {
    color: @base02;

    &.key-value,
    &.entry {
      color: @base01;
    }
  }

  .comment {
    color: @base03;
  }

  .hyperlink {
    color: inherit;
  }
}
